<div class='search_create'>
  <div class="search">
    <button type="button"> <img src='assets/img/search_icon.svg' alt='search button'> </button>
    <input type="search" name="value" placeholder="Search">
  </div>
  <button class='create'> Create club</button>
</div>

<div class='clubs'>
  <div class='thegames'>
    <img src='assets/img/clubs/legends.png' alt='league of legends'>
    <div class='title'>League of Legends club</div>
    <div class='buttoncontainer'>
      <button class='already'> Already a Member </button>
      <button class='entry'> Request Entry </button>
      <button class='number'>345 Members</button>
    </div>
  </div>

  <div class='thegames'>
    <img src='assets/img/clubs/assassins.png' alt='Assasins Creed'>
    <div class='title'>Assassin's Creed series club</div>
    <div class='buttoncontainer'>
      <button class='already'> Already a Member </button>
      <button class='entry'> Request Entry </button>
      <button class='number'>345 Members</button>
    </div>
  </div>

  <div class='thegames'>
    <img src='assets/img/clubs/cod.png' alt='Call of Duty'>
    <div class='title'>COD series club</div>
    <div class='buttoncontainer'>
      <button class='already'> Already a Member </button>
      <button class='entry'> Request Entry </button>
      <button class='number'>345 Members</button>
    </div>
  </div>

  <div class='thegames'>
    <img src='assets/img/clubs/fallout.png' alt='Fallout4'>
    <div class='title'>Fall out 4 club</div>
    <div class='buttoncontainer'>
      <button class='already'> Already a Member </button>
      <button class='entry'> Request Entry </button>
      <button class='number'>345 Members</button>
    </div>
  </div>

  <div class='thegames'>
    <img src='assets/img/clubs/farcry.png' alt='Farcry'>
    <div class='title'>Far cry series fan-club</div>
    <div class='buttoncontainer'>
      <button class='already'> Already a Member </button>
      <button class='entry'> Request Entry </button>
      <button class='number'>345 Members</button>
    </div>
  </div>


  <div class='thegames'>
    <img src='assets/img/clubs/hitman.png' alt='Hitman'>
    <div class='title'>Hitmen Absolution club</div>
    <div class='buttoncontainer'>
      <button class='already'> Already a Member </button>
      <button class='entry'> Request Entry </button>
      <button class='number'>345 Members</button>
    </div>
  </div>

  <div class='thegames'>
    <img src='assets/img/clubs/minecraft.png' alt='Minecraft'>
    <div class='title'>All things Minecraft club</div>
    <div class='buttoncontainer'>
      <button class='already'> Already a Member </button>
      <button class='entry'> Request Entry </button>
      <button class='number'>345 Members</button>
    </div>
  </div>

  <div class='thegames'>
    <img src='assets/img/clubs/nfs.png' alt='Need for Speed'>
    <div class='title'>NFS series competition club</div>
    <div class='buttoncontainer'>
      <button class='already'> Already a Member </button>
      <button class='entry'> Request Entry </button>
      <button class='number'>345 Members</button>
    </div>
  </div>

  <div class='thegames'>
    <img src='assets/img/clubs/sky.png' alt='Sky'>
    <div class='title'>No mans sky fan-club</div>
    <div class='buttoncontainer'>
      <button class='already'> Already a Member </button>
      <button class='entry'> Request Entry </button>
      <button class='number'>345 Members</button>
    </div>
  </div>


  <div class='thegames'>
    <img src='assets/img/clubs/pspad.png' alt='PS Pad'>
    <div class='title'>PS4 tips and tricks club</div>
    <div class='buttoncontainer'>
      <button class='already'> Already a Member </button>
      <button class='entry'> Request Entry </button>
      <button class='number'>345 Members</button>
    </div>
  </div>

  <div class='thegames'>
    <img src='assets/img/clubs/fighter.png' alt='Street Fighter'>
    <div class='title'>Street Fighter Tournaments club</div>
    <div class='buttoncontainer'>
      <button class='already'> Already a Member </button>
      <button class='entry'> Request Entry </button>
      <button class='number'>345 Members</button>
    </div>
  </div>

  <div class='thegames'>
    <img src='assets/img/clubs/wolfenstein.png' alt='Wolfenstein'>
    <div class='title'>Wolfenstein game-play club</div>
    <div class='buttoncontainer'>
      <button class='already'> Already a Member </button>
      <button class='entry'> Request Entry </button>
      <button class='number'>345 Members</button>
    </div>
  </div>

  <div class='thegames'>
    <img src='assets/img/clubs/warcraft.png' alt='War'>
    <div class='title'>World of Warcraft gameplay club</div>
    <div class='buttoncontainer'>
      <button class='already'> Already a Member </button>
      <button class='entry'> Request Entry </button>
      <button class='number'>345 Members</button>
    </div>
  </div>

  <div class='thegames'>
    <img src='assets/img/clubs/battlefield.png' alt='Battlefield'>
    <div class='title'>Battlefield warriors' club</div>
    <div class='buttoncontainer'>
      <button class='already'> Already a Member </button>
      <button class='entry'> Request Entry </button>
      <button class='number'>345 Members</button>
    </div>
  </div>

  <div class='thegames'>
    <img src='assets/img/clubs/mk.png' alt='Mortal Kombat'>
    <div class='title'>Ur next, Mortal Kombat club</div>
    <div class='buttoncontainer'>
      <button class='already'> Already a Member </button>
      <button class='entry'> Request Entry </button>
      <button class='number'>345 Members</button>
    </div>
  </div>

</div>
