%label {
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.87);
  color: white;
  align-self: center;
  border: none;
}

%icon_size {
  width: 16px;
  height: 16px;
}

%game_size{
    width: 300px;
    height: 240px;
}