<div class='topsection'>
  <div class='popular'>
    <h4> Most popular category</h4>

    <div class='games'>

      <div class='first'>
        <img src='assets/img/fifa19.jpg' alt='FIFA 19'>
        <button>FIFA 19</button>
      </div>
      <div class='second'>
        <img src='assets/img/fortnite2.jpg' alt='Fortnite'>
        <button>Fortnite Season 8</button>
      </div>
      <div class='third'>
        <img src='assets/img/nfs.jpg' alt='Need For Speed'>
        <button>NFS Payback</button>
      </div>
      <div class='forth'>
        <img src='assets/img/overwatch.jpg' alt='Overwatch'>
        <button>Overwatch</button>
      </div>
      <div class='fifth'>
        <img src='assets/img/mk11.jpg' alt='Mortal Kombat 11'>
        <button>Mortal Kombat 11</button>
      </div>
      <div class='sixth'>
        <img src='assets/img/pubg2.jpg' alt='PUBG'>
        <button>PUBG</button>
      </div>

    </div>
  </div>

  <div class='gameplay'>
    <h4> Trending Live-Feed</h4>
    <div class='video_content'>

      <span class='label fifa'>FIFA 19</span>
      <div class='info'>
        <span class='label live'>LIVE</span>
        <span class='dot'></span>
      </div>

      <div class='username'>
        <img src='assets/img/user.svg' alt='User Pic'>
        <p> Johnstone Kev254</p>
      </div>
      <p class='leaguetext'> The weekend league continues NL/ENG come hang out</p>

      <div class='extras'>
        <img src='assets/img/eye.svg' alt='Eye-con' class='eye'>
        <div class='res'>2K</div>
        <img src='assets/img/settings.svg' alt='Settings' class='settings'>
        <img src='assets/img/expand.svg' alt='Expand' class='expand'>
        <div class='time'>2:30:07</div>
      </div>

      <img src='assets/img/fifagameplay.jpg' alt='FIFA Gameplay'>
    </div>

    <div class='gta_viewed'>
      <h4> Most viewed GTA v</h4>
      <div class='gtapics'>

          <img src='assets/img/gtaplay.jpg' alt='first GTA'>
          <img src='assets/img/gtaplay2.jpg' alt='second GTA'>
          <img src='assets/img/gtaplay3.jpg' alt='third GTA'>
          <img src='assets/img/gtaplay4.jpg' alt='forth GTA'>
          <img src='assets/img/gtaplay.jpg' alt='fifth GTA'>
          <img src='assets/img/gtaplay2.jpg' alt='sixth GTA'>

        <div class='controls'>
          <span class='label gta'>GTA V</span>
          <div class='info'>
            <span class='dot'></span>
            <span class='label live'>LIVE</span>
          </div>
        </div>




      </div>
    </div>

  </div>
</div>
