<section>
  <div class='popular'>
    <h3> Most popular category</h3>
    <div class='games'>

      <div class='first'>
        <img src='assets/img/fifa19.jpg' alt='FIFA 19'>
        <button>FIFA 19</button>
      </div>
      <div class='second'>
        <img src='assets/img/fortnite2.jpg' alt='Fortnite'>
        <button>Fortnite Season 8</button>
      </div>
      <div class='third'>
        <img src='assets/img/nfs.jpg' alt='Need For Speed'>
        <button>NFS Payback</button>
      </div>
      <div class='forth'>
        <img src='assets/img/overwatch.jpg' alt='Overwatch'>
        <button>Overwatch</button>
      </div>
      <div class='fifth'>
        <img src='assets/img/mk11.jpg' alt='Mortal Kombat 11'>
        <button>Mortal Kombat 11</button>
      </div>
      <div class='sixth'>
        <img src='assets/img/pubg2.jpg' alt='PUBG'>
        <button>PUBG</button>
      </div>

    </div>
  </div>

</section>
