@import 'placeholder4';
$light-grey: rgba(0, 0, 0, 0.54);
$dark-grey: rgba(0, 0, 0, 0.87);
$red: #FF0000;
$game_space: 48px 0 0 24px;

.search {
  margin: 32px auto 0 auto;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 30%;

  button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 4px 5px 0 5px;
    outline: none;
    padding: 0px;
    position: absolute;
    left: 0;

    img {
      height: 20px;
      width: 16px;
    }
  }

  input {
    &[name="value"] {
      border: none;
      border-radius: 4px;
      outline: none;
      padding: 5px 5px 8px 40px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.12);
    }
  }
}

.titles {
  display: flex;
  flex-direction: row;
  margin: -15px 0 0 24px;

  .live {
    padding-left: 105px;
  }
}

.topsection {
  display: flex;
  flex-direction: row;
  margin-right: 0;

  .games {
    background-color: $light-grey;
    width: 288px;
    height: 624px;
    padding-top: 24px;

    img {
      width: 72px;
      height: 72px;
      object-fit: cover;
      object-position: 60% 0;
    }

    .first,
    .second,
    .third,
    .forth,
    .fifth,
    .sixth {
      display: flex;
      flex-direction: row;
      margin: 0 0 24px 24px;

      button {
        margin-left: 24px;
        height: 24px;
        width: 144px;
        background-color: rgba(0, 0, 0, 0.87);
        color: white;
        align-self: center;
        border: none;
      }
    }
  }

  .gameplay {
    .search {
      imdg {
        width: 16px;
        height: 16px;
      }
    }

    .video_content {
      background-color: $light-grey;
      position: relative;
      padding-left: 48px;

      img {
        width: 100%;
        height: 408px;
        object-fit: cover;
        object-position: 60% 80%;
      }

      .label {
        @extend %label;
        padding: 8px;
        position: absolute;
      }

      .fifa {
        top: 5%;
        margin-left: 24px;
      }

      .info {
        display: flex;
        flex-direction: row;

        .dot {
          @extend %icon_size;
          background-color: $red;
          border-radius: 50%;
          position: absolute;
          right: 6%;
          top: 7%;
        }

        .live {
          top: 5%;
          right: 0;
        }
      }

      .username {
        @extend %username;
        margin-left: 24px;
        bottom: 10.8%;
      }

      .leaguetext {
        @extend %leaguetext;
        margin: 0 0 0 24px;
        bottom: 3.8%;
      }

      .extras {
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 10%;
        right: 0;

        img {
          @extend %icon_size;
        }

        .eye {
          margin: auto 6px;
        }

        .res,
        .time {
          padding: 6px;
          background-color: $dark-grey;
          font-size: 10px;
          color: white;
        }

        .settings {
          margin: auto 40px;
        }

        .expand {
          margin: auto 32px auto 0;
        }
      }

    }

    .gta_viewed {
      margin: $game_space;

      .gtapics {
        @extend %game_grid;

        .gtalive {
          position: relative;

          img {
            @extend %game_images;
          }

          .controls {
            @extend %controls;
          }

          .gtausername {
            @extend %game_username;
          }

          .gtaleaguetext {
            @extend %game_text;
          }

          .gtatime {
            @extend %gametime;
          }
        }

      }
    }

    .fifa_viewed {
      margin: $game_space;

      .fifapics {
        @extend %game_grid;

        .fifalive {
          position: relative;

          img {
            @extend %game_images;
          }

          .controls {
            @extend %controls;
          }

          .fifausername {
            @extend %game_username;
          }

          .fifaleaguetext {
            @extend %game_text;
          }

          .fifatime {
            @extend %gametime;
          }

        }

      }
    }
  }
}
