<div class='main'>
  <img src='assets/img/gamer.jpg' alt='Gamer Image'>
  <div class='boxes'>
    <div class='redbox'></div>
    <div class='box'></div>
    <div class='box2'></div>
    <div class='box3'></div>
    <div class='box4'></div>
    <div class='box5'></div>
  </div>
  <div class='info'> All of 2019 events will be bigger, better & stronger. Check em out!</div>
</div>

<div class='events'>
  <div class='pagu2018'>
    <div class='first'> PAGU LIVE Open Challenge 2018</div>
    <div class='time'>
      <img src='assets/img/calendar.svg' alt='Calendar icon' class='calendar'>
      <div class='second'> 25 April, 2019</div>
    </div>

    <div class='venue'>
      <img src='assets/img/location.svg' alt='Location icon' class='location'>
      <div class='third'> Crown Plaza, Nairobi </div>
    </div>

    <div class='tickets'> Get Tickets</div>
    <div class='read'> Read More</div>
  </div>

  <div class='paguseason'> 
      <div class='first'> P.A.G.U Africa Rainbow Six Pro League: Season 1</div>
    <div class='time'>
      <img src='assets/img/calendar.svg' alt='Calendar icon' class='calendar'>
      <div class='second'> 26 April, 2019</div>
    </div>

    <div class='venue'>
      <img src='assets/img/location.svg' alt='Location icon' class='location'>
      <div class='third'> Crown Plaza, Nairobi </div>
    </div>

    <div class='tickets'> Get Tickets</div>
    <div class='read'> Read More</div>
  </div>

  <div class='fifa'>
      <div class='first'> FIFA Ultimate Team 2019</div>
      <div class='time'>
        <img src='assets/img/calendar.svg' alt='Calendar icon' class='calendar'>
        <div class='second'> 15 May, 2019</div>
      </div>
  
      <div class='venue'>
        <img src='assets/img/location.svg' alt='Location icon' class='location'>
        <div class='third'> Kenyatta International Conference Centre. Nairobi </div>
      </div>
  
      <div class='tickets'> Get Tickets</div>
      <div class='read'> Read More</div>  
  </div>

  <div class='eagc'> 
      <div class='first'> East Africa Gaming Convention</div>
    <div class='time'>
      <img src='assets/img/calendar.svg' alt='Calendar icon' class='calendar'>
      <div class='second'> 25 May, 2019</div>
    </div>

    <div class='venue'>
      <img src='assets/img/location.svg' alt='Location icon' class='location'>
      <div class='third'> Sarit Centre, Nairobi </div>
    </div>

    <div class='tickets'> Get Tickets</div>
    <div class='read'> Read More</div>
  </div>
</div>
