.container {
  background: #ffffff;
  display: grid;
  grid-template-columns: 10% 70% auto;
  margin: 10px 0 0 0; 
  border-bottom: 1px solid #b3b3b3;

  .logoname {
    font-family: 'perfect-dark-brk';
    text-decoration: none;
    font-size: 27px;
    margin-left: 20px;
    color: black;
  }

  nav {
    font-family: 'perfect-dark-brk';

    ul {
      list-style-type: none;
      margin: 0;
      padding-top: 5px;

      li {
        float: left;
        padding-left: 10px;

        a {
          padding: 1.5em;
          text-transform: uppercase;
          font-size: 16px;
          color: black;
          text-decoration: none;

          &.active{
            color: grey;
          }
        }
      }
    }
  }
  .profpic {
    justify-self: center;
        img{
            width: 25px;
            height: 25px;
        }
    .username{
        float:right;
        margin-top: 5px;
        margin-left: 15px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
    }
  }  
}
