<header>
  <div class='container'>
    <a routerLink='/' class='logoname'>{{appTitle}}</a>
    <nav>
      <ul>
        <li> <a routerLink='/tournament'>Tournament</a></li>
        <li> <a routerLink='/leagues'>Leagues</a></li>
        <li> <a routerLink='/liveviewing'>Live Viewing</a></li>
        <li> <a routerLink='/events'>Events</a></li>
        <li> <a routerLink='/clubs'>Clubs</a></li>
      </ul>
    </nav>
    <div class='profpic'>
      <img src='assets/img/user.svg' alt='user logo'>
      <p class='username'> Johnstone Kevin </p>
    </div>
  </div>
</header>
