@import 'placeholder2';

.games {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50vw;
  grid-auto-rows: 25vw;
  grid-gap: 10px;

  .game {
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 40% 0;
    }
  
    .buttons {
      @extend %buttons;
      //buttons display is absolute
    }
  }

  .take-2-columns {
    grid-column: span 2;
  }
  
  .take-2-rows {
    grid-row: span 2;
  }
}