<div class='games'>
    <div class='game take-2-columns'>
        <img src='assets/img/neymar.jpg' alt='fifa'>
        <div class='buttons'>
          <button class='sch'> Schedule </button>
          <button class='join'> Join now </button>
        </div>
      </div>

  <div class='game take-2-rows'>
    <div class='buttons'>
      <button class='sch'> Schedule </button>
      <button class='join'> Join now </button>
    </div>
    <img src='assets/img/ufc.jpg' alt='ufc3'>
  </div>

  <div class='game take-2-rows'>
    <div class='buttons'>
      <button class='sch'> Schedule </button>
      <button class='join'> Join now </button>
    </div>
    <img src='assets/img/madden.jpg' alt='madden19'>
  </div>

  <div class='game take-2-rows'>
      <div class='buttons'>
        <button class='sch'> Schedule </button>
        <button class='join'> Join now </button>
      </div>
    <img src='assets/img/nba.jpg' alt='nba19'>
  </div>
    
    <div class='game'>
        <div class='buttons'>
          <button class='sch'> Schedule </button>
          <button class='join'> Join now </button>
        </div>
      <img src='assets/img/nhl.png' alt='nhl19'>
    </div>

    <div class='game'>
        <div class='buttons'>
          <button class='sch'> Schedule </button>
          <button class='join'> Join now </button>
        </div>
      <img src='assets/img/pes.jpg' alt='pes19'>
    </div>

  <div class='game'>
      <div class='buttons'>
        <button class='sch'> Schedule </button>
        <button class='join'> Join now </button>
      </div>
    <img src='assets/img/cod.jpg' alt='callofDuty'>
  </div>

  <div class='game'>
      <div class='buttons'>
        <button class='sch'> Schedule </button>
        <button class='join'> Join now </button>
      </div>
    <img src='assets/img/hitman.jpg' alt='hitman'>
  </div>

  <div class='game'>
      <div class='buttons'>
        <button class='sch'> Schedule </button>
        <button class='join'> Join now </button>
      </div>
    <img src='assets/img/godofwar.jpg' alt='godofwar'>
  </div>

  <div class='game'>
      <div class='buttons'>
        <button class='sch'> Schedule </button>
        <button class='join'> Join now </button>
      </div>
    <img src='assets/img/gta.jpg' alt='grandtheftauto'>
  </div>

</div>
