<div class='main'>
  <img src='assets/img/neymar.jpg' alt='fifa'>

  <div class='buttons'>
    <button class='sch'> Schedule </button>
    <button class='join'> Join now </button>
  </div>

</div>

<div class='othergames'>
  <div class='ufc'>
    <img src='assets/img/ufc.jpg' alt='ufc3'>
    <div class='buttons2'>
      <button class='sch2'> Schedule </button>
      <button class='join2'> Join now </button>
    </div>
  </div>

  <div class='madden'>
    <img src='assets/img/madden.jpg' alt='madden19'>
    <div class='buttons3'>
      <button class='sch3'> Schedule </button>
      <button class='join3'> Join now </button>
    </div>
  </div>

  <div class='nba'>
    <img src='assets/img/nba.jpg' alt='nba19'>
    <div class='buttons4'>
      <button class='sch4'> Schedule </button>
      <button class='join4'> Join now </button>
    </div>
  </div>

  <div class='collection'>
    <div class='nhl'>
      <img src='assets/img/nhl.png' alt='nhl19'>
      <div class='buttons5'>
        <button class='sch5'> Schedule </button>
        <button class='join5'> Join now </button>
      </div>
    </div>
      <div class='pes'>
          <img src='assets/img/pes.jpg' alt='pes19'>
          <div class='buttons6'>
              <button class='sch6'> Schedule </button>
              <button class='join6'> Join now </button>
            </div>
      </div>
  </div>

  <div class='cod'>
    <img src='assets/img/cod.jpg' alt='callofDuty'>
    <div class='buttons7'>
      <button class='sch7'> Schedule </button>
      <button class='join7'> Join now </button>
    </div>
  </div>

  <div class='hitman'>
    <img src='assets/img/hitman.jpg' alt='hitman'>
    <div class='buttons8'>
      <button class='sch8'> Schedule </button>
      <button class='join8'> Join now </button>
    </div>
  </div>

  <div class='godofwar'>
    <img src='assets/img/godofwar.jpg' alt='godofwar'>
    <div class='buttons9'>
      <button class='sch9'> Schedule </button>
      <button class='join9'> Join now </button>
    </div>
  </div>

  <div class='gta'>
    <img src='assets/img/gta.jpg' alt='grandtheftauto'>
    <div class='buttons10'>
      <button class='sch10'> Schedule </button>
      <button class='join10'> Join now </button>
    </div>
  </div>

</div>
