@import 'placeholder3';
$white: rgba(255, 255, 255, 0.87);

.main {
  margin: 24px;
  display: grid;
  grid-template-areas:
    'honor desc'
    'overwatch desc2'
    'pubg desc3'
    'fortnite desc4';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 576px;
  grid-gap: 24px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 40% 0;
  }

  .honor {
    grid-area: honor;
  }

  .desc {
    grid-area: desc;

    .heading {
      @extend %title;
    }

    .description {
      @extend %text;
    }

    .options {
      @extend %options;
    }
  }

  .overwatch {
    grid-area: overwatch;
  }

  .desc2 {
    grid-area: desc2;

    .heading {
      @extend %title;
    }

    .description {
      @extend %text;
    }

    .options {
      @extend %options;
    }
  }

  .pubg{
    grid-area: pubg;
  }

  .desc3 {
    grid-area: desc3;

    .heading {
      @extend %title;
    }

    .description {
      @extend %text;
    }

    .options {
      @extend %options;
    }
  }

  .fortnite{
    grid-area: fortnite;
  }

  .desc4 {
    grid-area: desc4;

    .heading {
      @extend %title;
    }

    .description {
      @extend %text;
    }

    .options {
      @extend %options;
    }
  }
}
