.main {
  margin: 30px 0 0 24px;
  display: grid;
  grid-template-areas: 'honor desc';
  grid-template-columns: auto 50%;
  grid-template-rows: auto 50%;
  grid-gap: 24px;

  .honor {
    img {
      grid-area: honor;
      width: 624px;
      height: 576px;
      object-fit: cover;
      object-position: 40% 0;
    }
  }

}
