<div class='main'>

  <div class='honor'>
    <img src='assets/img/forhonor.jpg' alt='For Honor'>
  </div>

  <div class='desc'>
    <div class='heading'>
      <h1> For Honor </h1>
    </div>

    <div class='description'>
      <p>For Honor is an action fighting game set during a medieval, fantasy setting.[1] Players can play as a character
        from three different factions, namely the Iron Legion (Knights), the Warborn (Vikings), and the Chosen
        (Samurai).
        A fourth faction, the Wu Lin, was added in the Marching Fire expansion in October 2018.
        The four factions represent knights, vikings, samurai, and exiles respectively.
        [2] Each hero also has quotes in their own languages that will trigger when certain actions are performed.
        The Knights speak in Latin, the Vikings speak Icelandic, the Samurai speak Japanese, and the Wu Lin speak
        Mandarin.</p>
    </div>

    <div class='options'>
      <button class='join'> Join Now</button>
      <button class='watch'> Watch Live</button>
    </div>
  </div>

  <div class='overwatch'>
    <img src='assets/img/overwatch.jpg' alt='Overwatch'>
  </div>

  <div class='desc2'>
    <div class='heading'>
      <h1> Overwatch </h1>
    </div>

    <div class='description'>
      <p>Overwatch features a number of different game modes, principally designed around squad-based combat with
        two opposing teams of six players each. Players select one of over two dozen pre-made hero characters from
        one of three class types: Damage heroes that deal most of the damage to attack or defend control points,
        Tank heroes that can absorb a large amount of damage, and Support heroes that provide healing or other
        buffs for their teammates. [a] Each hero has a unique skill kit, defining their intrinsic attributes
        like health points and running speed, their primary attacks, several active and passive skills, and an
        ultimate ability that can only be used after it has been charged through dealing damage to enemies and healing
        allies. </p>
    </div>

    <div class='options'>
      <button class='join'> Join Now</button>
      <button class='watch'> Watch Live</button>
    </div>
  </div>

  <div class='pubg'>
    <img src='assets/img/pubg.jpg' alt='Player Unknownbattleground'>
  </div>

  <div class='desc3'>
    <div class='heading'>
      <h1> PUBG </h1>
    </div>

    <div class='description'>
      <p>Battlegrounds is a player versus player shooter game in which up to one hundred players fight in a battle
        royale,
        a type of large-scale last man standing deathmatch where players fight to remain the last alive.
        Players can choose to enter the match solo, duo, or with a small team of up to four people.
        The last person or team alive wins the match. [1]Each match starts with players parachuting from a plane onto
        one of the four maps,
        with areas of approximately 8 × 8 kilometres (5.0 × 5.0 mi), 6 × 6 kilometres (3.7 × 3.7 mi), and 4 × 4
        kilometres (2.5 × 2.5 mi) in size.
        [2] The plane's flight path across the map varies with each round, requiring players to quickly determine the
        best time to eject and parachute to the ground.</p>
    </div>

    <div class='options'>
      <button class='join'> Join Now</button>
      <button class='watch'> Watch Live</button>
    </div>
  </div>

  <div class='pubg'>
      <img src='assets/img/pubg.jpg' alt='Player Unknownbattleground'>
    </div>
  
    <div class='desc3'>
      <div class='heading'>
        <h1> PUBG </h1>
      </div>
  
      <div class='description'>
        <p>Battlegrounds is a player versus player shooter game in which up to one hundred players fight in a battle
          royale,
          a type of large-scale last man standing deathmatch where players fight to remain the last alive.
          Players can choose to enter the match solo, duo, or with a small team of up to four people.
          The last person or team alive wins the match. [1]Each match starts with players parachuting from a plane onto
          one of the four maps,
          with areas of approximately 8 × 8 kilometres (5.0 × 5.0 mi), 6 × 6 kilometres (3.7 × 3.7 mi), and 4 × 4
          kilometres (2.5 × 2.5 mi) in size.
          [2] The plane's flight path across the map varies with each round, requiring players to quickly determine the
          best time to eject and parachute to the ground.</p>
      </div>
  
      <div class='options'>
        <button class='join'> Join Now</button>
        <button class='watch'> Watch Live</button>
      </div>
    </div>

    <div class='fortnite'>
        <img src='assets/img/fortnite.jpg' alt='Fortnite'>
      </div>
    
      <div class='desc4'>
        <div class='heading'>
          <h1> Fortnite </h1>
        </div>
    
        <div class='description'>
          <p>Battlegrounds is a player versus player shooter game in which up to one hundred players fight in a battle
            royale,
            a type of large-scale last man standing deathmatch where players fight to remain the last alive.
            Players can choose to enter the match solo, duo, or with a small team of up to four people.
            The last person or team alive wins the match. [1]Each match starts with players parachuting from a plane onto
            one of the four maps,
            with areas of approximately 8 × 8 kilometres (5.0 × 5.0 mi), 6 × 6 kilometres (3.7 × 3.7 mi), and 4 × 4
            kilometres (2.5 × 2.5 mi) in size.
            [2] The plane's flight path across the map varies with each round, requiring players to quickly determine the
            best time to eject and parachute to the ground.</p>
        </div>
    
        <div class='options'>
          <button class='join'> Join Now</button>
          <button class='watch'> Watch Live</button>
        </div>
      </div>
  

</div>
