<div class='main'>
  <div class='game_collection'>
    <img src='assets/img/collage/one.jpg' alt='fifa' class='one'>
    <img src='assets/img/collage/two.png' alt='assassins' class='two'>
    <img src='assets/img/collage/three.jpg' alt='death standing' class='three'>
    <img src='assets/img/collage/four.jpg' alt='fortnite' class='four'>
    <img src='assets/img/collage/five.jpg' alt='godofwar' class='five'>
    <img src='assets/img/collage/six.jpg' alt='gta' class='six'>
    <img src='assets/img/collage/seven.jpg' alt='madden' class='seven'>
    <img src='assets/img/collage/eight.jpg' alt='cod' class='eight'>
    <img src='assets/img/collage/nine.jpg' alt='mortalKombat' class='nine'>
    <img src='assets/img/collage/ten.jpg' alt='basketball' class='ten'>
    <img src='assets/img/collage/eleven.jpg' alt='nfs' class='eleven'>
    <img src='assets/img/collage/twelve.png' alt='nfl' class='twelve'>
    <img src='assets/img/collage/thirteen.png' alt='pes' class='thirteen'>
    <img src='assets/img/collage/fourteen.jpg' alt='red dead' class='fourteen'>
    <img src='assets/img/collage/fifteen.jpg' alt='ufc' class='fifteen'>
    <img src='assets/img/collage/sixteen.jpg' alt='wwe' class='sixteen'>
    <img src='assets/img/collage/seventeen.jpg' alt='anthem' class='seventeen'>
    <img src='assets/img/collage/eighteen.png' alt='witcher' class='eighteen'>
    <img src='assets/img/collage/nineteen.png' alt='battlefield' class='nineteen'>
    <img src='assets/img/collage/twenty.jpg' alt='seriko' class='twenty'>
    <img src='assets/img/collage/twentyone.jpg' alt='the division' class='twentyone'>
    <img src='assets/img/collage/twentytwo.png' alt='red dead 2' class='twentytwo'>
    <img src='assets/img/collage/twentythree.jpg' alt='hitman' class='twentythree'>
    <img src='assets/img/collage/twentyfour.jpg' alt='metro exodus' class='twentyfour'>
    <img src='assets/img/collage/twentyfive.jpg' alt='apex' class='twentyfive'>
    <img src='assets/img/collage/twentysix.jpg' alt='devil may cry' class='twentysix'>
    <img src='assets/img/collage/twentyseven.jpg' alt='death stranding' class='twentyseven'>
    <img src='assets/img/collage/twentyeight.jpg' alt='pubg' class='twentyeight'>
    <img src='assets/img/collage/twentynine.png' alt='overwatch' class='twentynine'>
    <img src='assets/img/collage/thirty.jpg' alt='a way out' class='thirty'>
    <img src='assets/img/collage/thirtyone.jpg' alt='halo' class='thirtyone'>
    <img src='assets/img/collage/thirtytwo.jpg' alt='sims' class='thirtytwo'>
    <img src='assets/img/collage/thirtythree.jpg' alt='league of legends' class='thirtythree'>
    <img src='assets/img/collage/thirtyfour.jpg' alt='for honor' class='thirtyfour'>
    <img src='assets/img/collage/thirtyfive.jpg' alt='last of us' class='thirtyfive'>
    <img src='assets/img/collage/thirtysix.jpg' alt='witcher' class='thirtysix'>
    </div>
  </div>

  <div class='gamer_image'>
    <img src='assets/img/adultGaming.jpg' alt='main gamer' class='main_gamer'>
    <div class='centered'>
      <p> <b>ESFK REVOLTIONIZING E-SPORTS IN KENYA</b> </p>
      <img src='assets/img/play.svg' alt='play icon'>
    </div>

  </div>



  <div class='news'>
    <div class='sysunit'>
      <img src='assets/img/sysunit.jpg' alt='systemUnit'>
      <div class='box'>
        <h1> Budget to become a pro gamer</h1>
        <p> From sponsorships to tournaments, there are many ways to make a living from gaming.
          However, to do this, you need to put in hard work, and just as importantly, you... </p>
      </div>
    </div>

    <div class='comp'>
      <img src='assets/img/computer.jpg' alt='computer'>
      <div class='box'>
        <h1> ESFK bringing you a countrywide logo and website contest</h1>
        <p> Newly formed E-sports federation of Kenya. The winners will be given high end
          gaming MacBooks and other... </p>
      </div>
    </div>

    <div class='xbox'>
      <img src='assets/img/xbox.jpg' alt='xbox console'>
      <div class='box'>
        <h1> Female Gamers: The new Sport Stars</h1>
        <p> More than 150 hardcore girl gamers were treated to a night of shoot-em-ups,
          car races and hairdos all for... </p>
      </div>
    </div>

  </div>
