@import 'placeholder5';

.main {
  margin-top: 24px;

  .game_collection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    grid-template-rows: repeat(4, minmax(125px, 1fr));
    overflow: hidden;
   
    .game {
      img {
        // position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 0;
        cursor: pointer;
      }
    }

    .expand {
      transform: translate(40%, 50%) scale(3, 3);
      // grid-area: span 3 / span 3; 
      transition: 700ms ease;  
    }
  }
}


.gamer_image {
  position: relative;

  .main_gamer {
    @extend %main_images;
    object-fit: cover;
  }

  .centered {
    position: absolute;
    top: 36%;
    left: 10%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: white;

    img {
      position: absolute;
      top: 25%;
      left: 45%;
      width: 80px;
      height: 80px;
    }
  }
}


.news {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  margin-top: 24px;
  justify-content: space-between;

  .sysunit {
    width: 33%;

    img {
      @extend %dimensions;
      width: 100%;
      object-fit: cover;
      object-position: 40% 50%;
    }

    .box {
      @extend %box;
    }
  }

  .comp {
    width: 33%;

    img {
      @extend %dimensions;
      width: 100%;
      object-fit: cover;
      object-position: 50% 0;
    }

    .box {
      @extend %box;
    }
  }

  .xbox {
    width: 33%;

    img {
      @extend %dimensions;
      width: 100%;
      object-fit: contain;
      object-position: 100% 10;
    }

    .box {
      @extend %box;
    }
  }
}
