@import 'placeholder5';

.main {
  margin-top: 24px;

  .game_collection {
    display: grid;
    grid-template-columns: repeat(9, minmax(125px, 1fr));
    grid-template-rows: repeat(4, minmax(125px, 1fr));
    // grid-gap: 0;
    // display: block;
    // width: 100%;
    // height: 500px;
    overflow: hidden;

    .game {

            
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 0;
        cursor: pointer;
        transition: 2s ease;
      }
      // width: 100%;
      // height: 100%;
      // object-fit: cover;
      // object-position: 50% 0;
      // cursor: pointer;
      // transition: 2s ease;
    }

    .expand {
      // transform: translate(40%,50%) scale(3, 3);
      // width: 500px;
      // height: 500px;
      // transition: 2s ease;  
      grid-area: span 3 / span 3;
      // height: auto;
    }
  }
}


  .gamer_image {
    position: relative;

    .main_gamer {
      @extend %main_images;
      object-fit: cover;
    }

    .centered {
      position: absolute;
      top: 36%;
      left: 10%;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 48px;
      color: white;

      img {
        position: absolute;
        top: 25%;
        left: 45%;
        width: 80px;
        height: 80px;
      }
    }
  }


  .news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    margin-top: 24px;
    justify-content: space-between;

    .sysunit {
      width: 33%;

      img {
        @extend %dimensions;
        width: 100%;
        object-fit: cover;
        object-position: 40% 50%;
      }

      .box {
        @extend %box;
      }
    }

    .comp {
      width: 33%;

      img {
        @extend %dimensions;
        width: 100%;
        object-fit: cover;
        object-position: 50% 0;
      }

      .box {
        @extend %box;
      }
    }

    .xbox {
      width: 33%;

      img {
        @extend %dimensions;
        width: 100%;
        object-fit: contain;
        object-position: 100% 10;
      }

      .box {
        @extend %box;
      }
    }
  }
