  <div class='game_collection'>
    <div class='game'>

      <img src='assets/img/collage/one.jpg' alt='fifa'>
      <img src='assets/img/collage/ten.jpg' alt='basketball'>
      <img src='assets/img/collage/nineteen.png' alt='battlefield'>
      <img src='assets/img/collage/twentyeight.jpg' alt='pubg'>
      <img src='assets/img/collage/two.png' alt='assassins'>
      <img src='assets/img/collage/three.jpg' alt='death standing'>
      <img src='assets/img/collage/four.jpg' alt='fortnite'>
      <img src='assets/img/collage/five.jpg' alt='godofwar'>
      <img src='assets/img/collage/seven.jpg' alt='madden'>
      <img src='assets/img/collage/eight.jpg' alt='cod'>
      <img src='assets/img/collage/nine.jpg' alt='mortalKombat'>
      <img src='assets/img/collage/eleven.jpg' alt='nfs'>
      <img src='assets/img/collage/twelve.png' alt='nfl'>
      <img src='assets/img/collage/thirteen.png' alt='pes'>
      <img src='assets/img/collage/fourteen.jpg' alt='red dead'>
      <img src='assets/img/collage/fifteen.jpg' alt='ufc'>
      <img src='assets/img/collage/sixteen.jpg' alt='wwe'>
      <img src='assets/img/collage/seventeen.jpg' alt='anthem'>
      <img src='assets/img/collage/eighteen.png' alt='witcher'>
      <img src='assets/img/collage/twenty.jpg' alt='seriko'>
      <img src='assets/img/collage/twentyone.jpg' alt='the division'>
      <img src='assets/img/collage/twentytwo.png' alt='red dead 2'>
      <img src='assets/img/collage/twentythree.jpg' alt='hitman'>
      <img src='assets/img/collage/twentyfour.jpg' alt='metro exodus'>
      <img src='assets/img/collage/twentyfive.jpg' alt='apex'>
      <img src='assets/img/collage/twentysix.jpg' alt='devil may cry'>
      <img src='assets/img/collage/twentyseven.jpg' alt='death stranding'>
      <img src='assets/img/collage/twentynine.png' alt='overwatch'>
      <img src='assets/img/collage/thirty.jpg' alt='a way out'>
      <img src='assets/img/collage/thirtyone.jpg' alt='halo'>
      <img src='assets/img/collage/thirtytwo.jpg' alt='sims'>
      <img src='assets/img/collage/thirtythree.jpg' alt='league of legends'>
      <img src='assets/img/collage/six.jpg' alt='gta'>
      <img src='assets/img/collage/thirtyfour.jpg' alt='for honor'>
      <img src='assets/img/collage/thirtyfive.jpg' alt='last of us'>
      <img src='assets/img/collage/thirtysix.jpg' alt='witcher'>
    </div>
  </div>

  <div class='gamer_image'>
    <img src='assets/img/adultGaming.jpg' alt='main gamer' class='main_gamer'>
    <div class='centered'>
      <p> <b>ESFK REVOLTIONIZING E-SPORTS IN KENYA</b> </p>
      <img src='assets/img/play.svg' alt='play icon'>
    </div>

  </div>



  <div class='news'>
    <div class='sysunit'>
      <img src='assets/img/sysunit.jpg' alt='systemUnit'>
      <div class='box'>
        <h1> Budget to become a pro gamer</h1>
        <p> From sponsorships to tournaments, there are many ways to make a living from gaming.
          However, to do this, you need to put in hard work, and just as importantly, you... </p>
      </div>
    </div>

    <div class='comp'>
      <img src='assets/img/computer.jpg' alt='computer'>
      <div class='box'>
        <h1> ESFK bringing you a countrywide logo and website contest</h1>
        <p> Newly formed E-sports federation of Kenya. The winners will be given high end
          gaming MacBooks and other... </p>
      </div>
    </div>

    <div class='xbox'>
      <img src='assets/img/xbox.jpg' alt='xbox console'>
      <div class='box'>
        <h1> Female Gamers: The new Sport Stars</h1>
        <p> More than 150 hardcore girl gamers were treated to a night of shoot-em-ups,
          car races and hairdos all for... </p>
      </div>
    </div>

  </div>
